btn{
	display:block;
}
.tengah{
	background-color:#FFFFFF;
	width:100%;
}
.container{
	width: 800px;
	background: rgba(255, 255, 255, 0.50);
}
.all{
	background-image: url(img/asfalt-dark.png);
	background-repeat:repeat;
	background-color: #a2a0a0;
	height: 650px;
	width: 100%;
	vertical-align:middle;
}
.center{
	text-align: center;
}
.hver{
	background: rgba(0, 0, 0, 0.50);
	height: 50px;
	vertical-align: middle;
	font-family: 
}
.kanan{
	border: 1;
	vertical-align: top;
}
.footer{
	background-color: blue;
}